/* p{
  width: 750px; 
  border: 1px solid blueviolet;
} */

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  font-size: 10px;
  /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: "Oswald", sans-serif;
  background-color: #9bafc2;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #659cb6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }